# R and RStudio
# ---------------
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.Ruserdata

# RStudio files
.Rproj.user/

# R Environment Variables
.Renviron

# R Package Development
# -------------------
# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# Example code in package build process
*-Ex.R

# OAuth2 token
.httr-oauth

# Quarto
# ------
/.quarto/
_book/
_site/
_site-solution/


# Quarto temporary files
*.utf8.md
*.knit.md
*.tex
*.toc
*.aux
*.log
*_files/

# R Markdown and knitr
# -------------------
*_cache/
/cache/

# Project specific
# ---------------
_solution/
_other/

# Cline
# -----
memory-bank/
.cline*
.clinerules*

# System files
# -----------
# macOS
.DS_Store
ENVX1002-handbook/

.roomodes
.omc/


**/*.quarto_ipynb
*.md
!README.md
!CONTRIBUTING.md

/.luarc.json
